body {
  width: 8.5in;
  height: 11in;
  margin: 0 auto 0 auto;
  font-size: 10pt; }
  body.border {
    border: solid gray55 3px; }

#container {
  margin-top: 1em;
  padding: .25in;
  font-size: 12pt;
  border: solid #e8e8e8 3px; }

#header {
  font-variant: small-caps;
  letter-spacing: .05cm; }
  #header h1 {
    margin-top: 0px;
    font-weight: bold;
    font-size: 250%;
    float: left; }
  #header h2 {
    margin-top: 5px;
    font-weight: normal;
    font-size: 10pt;
    text-align: right;
    float: right; }

#content {
  clear: both;
  font-size: 70%;
  letter-spacing: .023cm;
  line-height: 1.5em; }
  #content h3 {
    font-variant: small-caps;
    font-size: 150%;
    margin-bottom: 0px; }
  #content h4 {
    color: #676767;
    font-size: 130%;
    margin-bottom: 0px;
    margin-top: .7em; }
  #content ul {
    margin-top: .5em;
    padding-left: 2em; }
  #content ul.history {
    padding-left: 1em; }
    #content ul.history li {
      list-style-type: none; }

#footer {
  color: #b8b8b8;
  font-size: 70%;
  font-style: oblique;
  text-align: center; }

a {
  font-weight: bold;
  color: #676767;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }
