%h3 Summary
%ul
  %li Twelve years of UNIX/Linux systems administration 
  %li Nine years of programming and software development 
  %li Three years of professional marketing experience

%h3 Skills
%ul
  %li Web application development with Ruby (Rails and Sinatra) and PHP 
  %li Web design with XHTML/CSS
  %li Graphics design with Gimp, Photoshop, InDesign, Flash
  %li Shell programming with Bash/Zsh
  %li Working knowledge of C, Lisp, Perl, Python, Javascript
  %li Linux systems administration with all major distributions (Debian preferred)
  %li Linux/UNIX server software (Apache, Nginx, Postfix, MySQL, etc.)
  %li Source control management (git)

%h3 Projects
%ul.projects
  %li
    %h4 Seagull Testing
    %p I worked with two other developers to rescue an abandoned PHP application designed to provide an interface for students registering for environmental certification courses. We abandoned the buggy PHP codebase and used Sinatra and Sequel to wrap the customer's existing Postgres database and reimplement the desired functionality. 
  %li
    %h4 Jordan Kitt's Music lead manage application and corporate website
    %p Jordan Kitt's had a network of PHP websites that I maintained for years. I eventually migrated off of the dedicated server they were using to a VPS server running Nginx. I then reimplimented the PHP core of the old website as a Rails application.  
  %li blah

%h3 History
%ul.history
  %li
    %h4 
      2008 &mdash; present: 
      %a(href="http://wearetitans.net/") We Are Titans Inc.
    %em Developer / Systems Administrator
  %li
    %h4 
      2003 &mdash; present: 
      %a(href="http://jordankitts.com/") Jordan Kitt's Music
    %em Outside Promotions Coordinator / Call Center Manager (2003 - 2006)<br/>
    %em Webmaster /  Developer / Advertising Administrator (as of 2006)
  %li
    %h4 2002 &mdash; 2003: Total Medical Consultants
    %em Part-time Systems Administrator
  %li
    %h4
      1999 &mdash; 2002:
      %a(href="http://jordankitts.com/") Jordan Kitt's Music
    %em Outside Promotions
  %li
    %h4 1997 &mdash; 1999:  Jeff King Accounting
    %em Network Administrator









