body
  padding: .3in 0

h1, h2
  font-family: 'HelveticaNeueW82-Regula'

h2
  border-bottom: 1px solid #eee
  margin-top: 1em
  padding-bottom: 6px

.page-header
  margin-bottom: 0

footer
  text-align: center
  color: #c3c3c3
