!!!5
%html(xmlns="http://www.w3.org/1999/xhtml" lang="en")
  %head
    %meta(content='text/html; charset=utf-8' http-equiv='Content-Type')/
    %title= @item[:title]
    %link(href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen, print")/
    %link(href="common.css" rel="stylesheet" media="screen, print")/
    %link(href="display.css" rel="stylesheet" media="screen")/
    %link(href="print.css" rel="stylesheet" media="print")/
    %link(type="text/css" rel="stylesheet" href="http://fast.fonts.com/cssapi/5f07bf32-8d46-41b3-b193-3599da02df2e.css")/
    %script(src='http://code.jquery.com/jquery-latest.js' type='text/javascript')
    %script(src='bootstrap/js/bootstrap.min.js' type='text/javascript')

  %body
    .container
      .row
        %header.inner.span10.offset1
          .page-header
            %h1 Timothy M. King
            %address
              %a(href='mailto:tmk@pla.to') tmk@pla.to
              \/ #{link_to 'github.com/lordzork', 'http://github.com/lordzork'}

      #content.row
        .span10.offset1
          = yield

      .row
        %footer.span10.offset1.border-bottom
          %p.display.well
            %small Made with nanoc, haml, sass, and bootstrap.
          %p.print
            %small A more recent version of this document may be available at http://resume.pla.to/
